.blankhexagon {
  position: relative;
  width: 60px; 
  height: 34.64px;
  background-color: #fffdfd;
  margin: 17.32px 0;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.exists {
  background-color: #fe5af0;
}

.blank {
  background-color: #fffdfd;
}

.grasshopper {
  background-color: #45d884;
}

.ant {
  background-color: #d8c208;
}

.beetle {
  background-color: #d87330;
}

.queen {
  background-color: #d82532;
}

.spider {
  background-color: #8469d8;
}

.blankhexagon:before,
.blankhexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 42.43px;
  height: 42.43px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.7868px;
}

.blankhexagon:before {
  top: -21.2132px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.blankhexagon:after {
  bottom: -21.2132px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}


